.codemap/
.env
.qodo
.rake_tasks~
.ruby-gemset
.tool-versions
*logs/
/**/*/.ipynb_checkpoints
compose.yaml
data/
docker-jupyter-ruby.code-workspace
Gemfile.lock
jupyter-ruby-docker.code-workspace
nlp/language_models/